---
name: auto pr
on:
  workflow_call:
    inputs:
      runner:
        description: '["some-runners"]'
        required: true
        type: string
      branch:
        description: "branch to create pull request for"
        required: true
        type: string
        default: "main"
      update:
        description: "update pull request if it exists"
        required: true
        type: string
        default: "true"
      pr-title:
        description: "pr title"
        required: false
        type: string
      pr-body:
        description: "pr body"
        required: false
        type: string

jobs:
  create-pr:
    runs-on: ${{fromJSON(inputs.runner)}}
    permissions:
      contents: write
      pull-requests: write
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      # https://github.com/marketplace/actions/pull-request-action
      - name: create pr
        uses: vsoch/pull-request-action@1.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PULL_REQUEST_BRANCH: ${{ inputs.branch }}
          PULL_REQUEST_UPDATE: ${{ inputs.update }}
          PULL_REQUEST_TITLE: ${{ inputs.pr-title }}
          PULL_REQUEST_BODY: ${{ inputs.pr-body }}
