---
name: build and push docker image to google

on:
  workflow_call:
    inputs:
      runner:
        description: '["some-runners"]'
        required: true
        type: string
      workload-identity-provider:
        description: "projects/<number>/locations/global/..."
        required: true
        type: string
      service-account:
        description: "github-artifactregistry@..."
        required: true
        type: string
      registry:
        description: "registry url"
        required: true
        type: string
      gcp:
        description: "google cloud project id"
        required: true
        type: string
      repository:
        description: "repository"
        required: true
        type: string
      subpath:
        description: "subpath to image name, f.e. integration/app-name"
        required: true
        type: string
      tags:
        description: "tags for image - default sha"
        required: false
        type: string
        default: ${{ github.sha }}
      platforms:
        description: "define multi-platform images"
        required: false
        type: string
      file:
        description: "path to Dockerfile"
        required: false
        type: string
      free-disk-space:
        description: "boolean to free disk space before build - default false"
        required: false
        type: boolean
        default: false
      context:
        description: "build context - default ."
        required: false
        type: string
        default: .
      generate-token:
        required: false
        type: boolean
        default: false
    secrets:
      github-app-id:
        description: "github app id"
        required: false
      github-app-key:
        description: "github app private key"
        required: false
      docker-username:
        description: "docker username"
        required: false
      docker-token:
        description: "docker token"
        required: false

    outputs:
      metadata:
        description: "docker metadata"
        value: ${{ jobs.docker-build-push-google.outputs.metadata }}

jobs:
  docker-build-push-google:
    name: google
    runs-on: ${{fromJSON(inputs.runner)}}
    permissions:
      contents: read
      packages: read
      id-token: write
    env:
      DOCKER_AUTH: ${{ secrets.docker-username != '' && secrets.docker-token != '' }}
      image-path: ${{ inputs.registry }}/${{ inputs.gcp }}/${{ inputs.repository }}/${{ inputs.subpath }}
    outputs:
      metadata: ${{ steps.meta.outputs.json }}

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      # https://github.com/marketplace/actions/cosign-installer
      - name: setup cosign
        uses: sigstore/cosign-installer@d7d6bc7722e3daa8354c50bcb52f4837da5e9b6a # v3.8.1

      # https://github.com/marketplace/actions/docker-setup-buildx
      - name: setup docker buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      # https://github.com/marketplace/actions/authenticate-to-google-cloud
      - name: authenticate to google cloud
        id: auth
        uses: google-github-actions/auth@71f986410dfbc7added4569d411d040a91dc6935 # v2.1.8
        with:
          token_format: "access_token"
          workload_identity_provider: ${{ inputs.workload-identity-provider }}
          service_account: ${{ inputs.service-account }}

      # https://github.com/marketplace/actions/docker-login
      - name: login to google artifact registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ${{ inputs.registry }}
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      # https://github.com/marketplace/actions/docker-login
      - name: login to docker
        if: ${{ env.DOCKER_AUTH == 'true' }}
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          username: ${{ secrets.docker-username }}
          password: ${{ secrets.docker-token }}

      # https://github.com/marketplace/actions/docker-metadata-action
      - name: extract metadata for docker
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: ${{ env.image-path }}
          tags: ${{ inputs.tags }}

      # https://github.com/marketplace/actions/create-github-app-token
      - name: generate token
        if: ${{ inputs.generate-token }}
        id: generate-token
        uses: actions/create-github-app-token@3ff1caaa28b64c9cc276ce0a02e2ff584f3900c5 # v2.0.2
        with:
          app-id: ${{ secrets.github-app-id }}
          private-key: ${{ secrets.github-app-key }}
          owner: ${{ github.repository_owner }}

      # https://github.com/marketplace/actions/free-disk-space-ubuntu-runners
      - name: free disk space
        if: ${{ inputs.free-disk-space }}
        uses: endersonmenezes/free-disk-space@v3
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true

      # https://github.com/marketplace/actions/build-and-push-docker-images
      - name: build and push docker image
        id: build-and-push
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
        with:
          push: true
          platforms: ${{ inputs.platforms }}
          file: ${{ inputs.file }}
          context: ${{ inputs.context }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          provenance: false
          secrets: |
            "action-token=${{ secrets.GITHUB_TOKEN }}"
            "gh-read-token=${{ steps.generate-token.outputs.token }}"

      # https://github.com/sigstore/cosign
      - name: sign the published docker image
        run: cosign sign --yes ${{ env.image-path }}@${{ steps.build-and-push.outputs.digest }}
