---
name: build docker image

on:
  workflow_call:
    inputs:
      runner:
        description: '["some-runners"]'
        required: true
        type: string
      platforms:
        description: "define multi-platform images"
        required: false
        type: string
      file:
        description: "path to Dockerfile"
        required: false
        type: string
      context:
        description: "build context - default ."
        required: false
        type: string
        default: .
      free-disk-space:
        description: "boolean to free disk space before build - default false"
        required: false
        type: boolean
        default: false
      generate-token:
        required: false
        type: boolean
        default: false
    secrets:
      github-app-id:
        description: "github app id"
        required: false
      github-app-key:
        description: "github app private key"
        required: false
      docker-username:
        description: "docker username"
        required: false
      docker-token:
        description: "docker token"
        required: false

jobs:
  docker-build:
    runs-on: ${{fromJSON(inputs.runner)}}
    permissions:
      contents: read
      packages: read
    env:
      DOCKER_AUTH: ${{ secrets.docker-username != '' && secrets.docker-token != '' }}
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # https://github.com/marketplace/actions/docker-setup-buildx
      - name: setup docker buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      # https://github.com/marketplace/actions/create-github-app-token
      - name: generate token
        if: ${{ inputs.generate-token }}
        id: generate-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.github-app-id }}
          private-key: ${{ secrets.github-app-key }}
          owner: ${{ github.repository_owner }}

      # https://github.com/marketplace/actions/docker-login
      - name: login to docker
        if: ${{ env.DOCKER_AUTH == 'true' }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.docker-username }}
          password: ${{ secrets.docker-token }}

      # https://github.com/marketplace/actions/free-disk-space-ubuntu-runners
      - name: free disk space
        if: ${{ inputs.free-disk-space }}
        uses: endersonmenezes/free-disk-space@6c4664f43348c8c7011b53488d5ca65e9fc5cd1a # v3
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true

      # https://github.com/marketplace/actions/build-and-push-docker-images
      - name: build docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: false
          platforms: ${{ inputs.platforms }}
          file: ${{ inputs.file }}
          context: ${{ inputs.context }}
          tags: ${{ github.sha }}
          secrets: |
            "action-token=${{ secrets.GITHUB_TOKEN }}"
            "gh-read-token=${{ steps.generate-token.outputs.token }}"
