---
name: get changed files

on:
  workflow_call:
    inputs:
      runner:
        description: '["some-runners"]'
        required: true
        type: string
      files:
        description: "files and directories to check for changes, full repo if unset"
        required: false
        type: string
      matrix:
        description: "enable matrix output for changed files"
        required: false
        type: boolean
      dir_names:
        description: "output unique changed directories instead of files"
        required: false
        type: boolean
      dir_names_exclude_current_dir:
        description: "exclude working directory from output"
        required: false
        type: boolean
      dir_names_max_depth:
        description: "maximum depth of directories to include in output"
        required: false
        type: string

    outputs:
      files:
        description: "all changed files"
        value: ${{ jobs.get-changed-files.outputs.files }}

jobs:
  get-changed-files:
    runs-on: ${{fromJSON(inputs.runner)}}
    permissions:
      contents: read
    outputs:
      files: ${{ steps.changed-files.outputs.all_changed_files }}

    steps:
      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # https://github.com/marketplace/actions/changed-files
      - name: get all changed files
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files: ${{ inputs.files }}
          matrix: ${{ inputs.matrix }}
          dir_names: ${{ inputs.dir_names }}
          dir_names_exclude_current_dir: ${{ inputs.dir_names_exclude_current_dir }}
          dir_names_max_depth: ${{ inputs.dir_names_max_depth }}

      - name: list all changed files
        run: |
          echo "${{ steps.changed-files.outputs.all_changed_files }}" >> $GITHUB_STEP_SUMMARY
