---
name: repo-dispatch

on:
  workflow_call:
    inputs:
      runner:
        description: '["some-runners"]'
        required: true
        type: string
      tag:
        description: "version tag from docker metadata"
        required: false
        type: string
        default: null
      repository:
        description: "target repository"
        required: true
        type: string
      repository-owner:
        description: "target repository owner"
        required: false
        type: string
        default: ${{ github.repository_owner }}
      dispatch-event:
        description: "event name that is configured in target repo"
        required: true
        type: string
    secrets:
      github-app-id:
        description: "github app id"
        required: true
      github-app-key:
        description: "github app private key"
        required: true

jobs:
  repo-dispatch:
    runs-on: ${{fromJSON(inputs.runner)}}
    steps:
      # https://github.com/marketplace/actions/create-github-app-token
      - name: generate token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.github-app-id }}
          private-key: ${{ secrets.github-app-key }}
          owner: ${{ inputs.repository-owner }}

      # send event to remote repo to update helm-release image tag
      # https://github.com/marketplace/actions/repository-dispatch
      - name: repository dispatch
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        env:
          token: ${{ steps.generate-token.outputs.token }}
          tag: ${{ inputs.tag }}
        with:
          token: ${{ steps.generate-token.outputs.token }}
          repository: ${{ inputs.repository }}
          event-type: ${{ inputs.dispatch-event }}
          client-payload: '{"ref": "${{ github.ref }}", "tag": "${{ inputs.tag }}"}'
