---
name: run renovate

on:
  workflow_call:
    inputs:
      runner:
        description: '["some-runners"]'
        required: true
        type: string
      configuration-file:
        description: "path to config"
        required: false
        type: string
        default: ".github/renovate.json5"
      workload-identity-provider:
        description: "projects/<number>/locations/global/..."
        required: true
        type: string
      service-account:
        description: "github-artifactregistry@..."
        required: true
        type: string
      registry:
        description: "registry"
        required: true
        type: string
      log-level:
        description: "log-level"
        required: false
        type: string
        default: "debug"
      dry-run:
        description: "dry-run"
        required: false
        type: string
        default: "false"
    secrets:
      github-app-id:
        description: "github app id"
        required: true
      github-app-key:
        description: "github app private key"
        required: true
      docker-username:
        description: "docker username"
        required: false
      docker-token:
        description: "docker token"
        required: false

jobs:
  renovate:
    runs-on: ${{fromJSON(inputs.runner)}}
    permissions:
      contents: read
      id-token: write
    steps:
      # https://github.com/marketplace/actions/create-github-app-token
      - name: generate token
        id: generate-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.github-app-id }}
          private-key: ${{ secrets.github-app-key }}

      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}

      # https://github.com/marketplace/actions/authenticate-to-google-cloud
      - name: authenticate to google cloud
        id: auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          token_format: "access_token"
          workload_identity_provider: ${{ inputs.workload-identity-provider }}
          service_account: ${{ inputs.service-account }}

      # https://github.com/marketplace/actions/renovate-bot-github-action
      - name: renovate bot
        uses: renovatebot/github-action@822441559e94f98b67b82d97ab89fe3003b0a247 # v44.2.0
        env:
          DRY_RUN: ${{ inputs.dry-run }}
          LOG_LEVEL: ${{ inputs.log-level }}
          RENOVATE_HOST_RULES: |
            [
              {
                matchHost: "docker.io",
                hostType: "docker",
                username: "${{ secrets.docker-username }}",
                password: "${{ secrets.docker-token }}",
              },
              {
                matchHost: "${{ inputs.registry }}",
                hostType: "docker",
                username: "oauth2accesstoken",
                password: "${{ steps.auth.outputs.access_token }}",
              },
            ]
        with:
          token: ${{ steps.generate-token.outputs.token }}
          configurationFile: ${{ inputs.configuration-file }}
