---
name: test php

on:
  workflow_call:
    inputs:
      runner:
        description: '["some-runners"]'
        required: true
        type: string
      php-lint:
        required: false
        type: boolean
        default: true
      php-lint-cmd:
        description: optional args
        required: false
        type: string
        default: null
      php-cs-fixer:
        required: false
        type: boolean
        default: false
      php-cs-fixer-cmd:
        description: optional args
        required: false
        type: string
        default: null
      php-stan:
        required: false
        type: boolean
        default: false
      php-stan-cmd:
        description: path(s) to check and optional args
        required: false
        type: string
        default: analyse /src

jobs:
  test-php:
    name: php
    runs-on: ${{fromJSON(inputs.runner)}}
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # https://github.com/marketplace/actions/check-php-syntax-errors
      - name: php-lint
        if: ${{ inputs.php-lint }}
        uses: overtrue/phplint@e2ebdbac93fa6ffe45d724e350f77df34c1f8fb4 # 9.6.2
        with:
          options: ${{ inputs.php-lint-cmd }}

      # https://github.com/marketplace/actions/oskar-php-cs-fixer
      - name: php-cs-fixer
        if: ${{ inputs.php-cs-fixer }}
        uses: docker://oskarstark/php-cs-fixer-ga:3.26.0@sha256:e1ecd59fdc0d097399955966d6b4c5e067be83c9bbea771f446dd3cfcdb53ee7
        with:
          args: ${{ inputs.php-cs-fixer-cmd }}

      # https://github.com/marketplace/actions/oskar-phpstan
      - name: php-stan
        if: ${{ inputs.php-stan }}
        uses: docker://oskarstark/phpstan-ga:1.8.0@sha256:72a23af2ecba7f895b1e9d18ac9157e97cb703ae694cb129cca01bc9e5801022
        with:
          args: ${{ inputs.php-stan-cmd }}
