---
name: test npm

on:
  workflow_call:
    inputs:
      runner:
        description: '["some-runners"]'
        required: true
        type: string
      audit-cmd:
        description: npm audit --production
        required: false
        type: string
        default: npm audit --production
      lint-cmd:
        description: npm run lint
        required: false
        type: string
        default: npm run lint
      test-cmd:
        description: npm run test
        required: false
        type: string
        default: npm run test
      build-cmd:
        description: npm run build
        required: false
        type: string
        default: npm run build

jobs:
  test-npm:
    name: npm
    runs-on: ${{fromJSON(inputs.runner)}}
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # https://github.com/marketplace/actions/cache
      - name: cache node modules
        id: cache-npm
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}

      # https://github.com/marketplace/actions/setup-node-js-environment
      - name: setup node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: install
        run: npm ci

      - name: audit
        run: ${{ inputs.audit-cmd }}

      - name: lint
        run: ${{ inputs.lint-cmd }}

      - name: test
        run: ${{ inputs.test-cmd }}

      - name: build
        run: ${{ inputs.build-cmd }}
